@font-face {
    font-family: "sfpro";
    src: url(FontsFree-Net-SFProText-Regular.ttf) format("truetype");
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "sfpro", "sans-serif";
    font-size: 25px;
    text-decoration: none;
    color: rgb(46, 45, 45);
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


h1 {
    display: none;
}


h2 {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}



nav {
    position: sticky;
    top: 0px;
    backdrop-filter: blur(10px);
    z-index: 3;
    background-color: rgba(22, 22, 22, 0.863);
    height: 48px;
}


a.background {
    z-index: 1; 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
}


div.textwrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%);
    text-align: center;
    z-index: 2;
}

/* widescreen nav */
ul.navlinks {
    display: flex;   
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3%;
    list-style-type: none;
}

/* smallscreen nav */
ul.smallscreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 22px;
    padding-right: 22px;
}



div.wrap {
    background-color: rgb(251, 251, 253);
    width: 100vw;
    height: 520px;
    background-size: 750px 520px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: url("images/hero_iphone14__fjmsqstr1ceq_small_2x.jpg");
}


.learnmore, .buy {
    font-size: 17px;
    color: rgba(4, 4, 214, 0.822);
    padding-top: 0.9rem;
    z-index: 2;
    padding-inline-end: 10px;
}


#searchicon {
    position: relative;
    top: -4px;
    filter: brightness(0) invert(1);
}


.smallscreen li {
    position: relative;
    top: -10px;
}

#sicon {
    position: relative;
    top: -3;
    left: -10;
}


@media (max-width: 832px) {
    .header {
        display: none;
    }
}


@media (min-width: 833px) {
    .hidden {
        display: none;
    }
}


@media (max-width: 734px){
    h2 {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
        font-family: "sfpro", "sans-serif";
    }
}


@media (max-width: 734px){
    h3 {
        font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: "sfpro", "sans-serif";
    }
}


@media (min-width:670px) {
    div.wrap {
        background-color: rgb(251, 251, 253);
        width: 100%;
        height: 700px;
        background-size: 1100px 700px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-image: url("images/hero_iphone14__fjmsqstr1ceq_mediumtall_2x.jpg");
    }

    h2 {
        font-size: 48px;
        line-height: 1.08349;
        font-weight: 600;
        letter-spacing: -.002em;
        font-family: "sfpro", "sans-serif";
    }

    h3 {
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: .009em;
        font-family: "sfpro", "sans-serif";
    }

    .learnmore, .buy {
        font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        color: rgba(4, 4, 214, 0.822);
        text-align: center;
        padding-top: 0.9rem;
        z-index: 9;
        padding-inline-end: 10px;
    }
}
